.About{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position:relative;
  }

  a:visited{
    color:  #61dafb;
  }

  span{
    color: rgb(241, 62, 62)
}