.home{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position:relative;
  }

  span svg{
    fill: white;
    padding-left: 0.5em;
    border: #61dafb solid 2px;
    padding-right: 0.5em;
    margin-left: 0.5em;
    border-radius: 25px;
}