.Projects{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position:relative;
  }

  h1 a:visited{
    color:  #61dafb;
  }

  h1 a:link{
    color:  #61dafb;
  }

  span{
      color: rgb(241, 62, 62)
  }

  .borderBox{
    border: solid grey 1px;
    /* position:absolute; */
    width:60%;
    text-align: center;
  }

  a img{
      height: 40px;
  }

  a:hover{
    color: white;
  }

  .projects{
    position: relative;
    height: 100%;
    width: 100%;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #282c34;
  }
  
  .content {
    width: 85%;
    height: 100%;
    background-clip: padding-box;
    margin: 50px auto;
    border-radius: 25px;
    border: 10px solid whitesmoke;
    box-shadow: 0 0 5px #333;
  }
  html {
    background-color: #282c34;
  }